:root {
  --avatar-size: 150px;
  --avatar-border-size: 1rem;
  --avatar-thumbnail-size: 100px;
  --avatar-micro-thumbnail-size: 50px;
  --photo-size: 250px;
}

/*=========== user-item ===========*/

.user-item{
  display: flex;
  width: 100%;
  min-width: 420px;
  margin-bottom: 2rem;
}

.user-item--avatar{
  border-radius: var(--round-borders-radius);
}
.user-item--info{
  margin-left: 1.5rem;
  width: 100%;
}

/*=========== user-list ===========*/

.users-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.users-list--pagination>button{
  padding: 0.8rem;
  border: none;
}
.users-list--pagination>button:not(.goNext){
  background: var(--white);
}
.users-list--pagination>button.active {
  color: var(--white);
  background: #672280;
}
.users-list--pagination>button:disabled {
  cursor: default;
  opacity: 1!important;
  background: #eee!important;
  border-color: #ddd!important;
  color: #999!important;
}

/*=========== user-card ===========*/

.user-card{
  min-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.user-card--avatar{
  border-radius: var(--circle-border-radius);
}

.user-info--grid{
  display: grid;
  grid-template: 40px 40px / 100px 0.2fr 50px 0.8fr;
  column-gap: 4rem;
}
.gc{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.gc > h4 {
  margin: 0;
}
.divider{
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--light-gray);
}